<html>
<head>
</head>
<body>
  <div>
    <h1> Links are: </h1><br>
  </div>
  <div>
    <% @links.each_with_index do |link, index|  %>
    <p> <b><%= index + 1 %>:</b>  <a href="<%= link[:url] %>"><%= link[:title] %></a></p>
    <% end %>
  </div>
  <div>
    <form action='/links/new' method='get'>
      <button type='submit'>NEW LINK</button>
    </form>
  </div>
</body>
</html>
