
  <div>
    <form action='/links' method='post'>
      <div>
        <label for='title'> Title: </label>
        <input type='text' name='title'>
      </div>
      <div>
        <label for='url'> URL: </label>
        <input type='text' name='url'>
      </div>
      <div>
        <label for='tag'> Tag/s: </label>
        <input type='text' name='tag'>
        <br>
        <p>NOTE: For multiple Tags, seperate by a comma between each</p>
      </div>
      <div>
        <input type='submit' id='submit'>
      </div>
    </form>
  </div>
