<html>
<head>
</head>
<body>
  <div align="center">
    <br><br><h1>Welcome to Favourite Links</h1>
  </div>
  <div align="center">
    <div>
      Please sign up. Alternatively <a href='/sign-in'>sign in</a>
    </div>
    <form action='/links' method='post'>
      <div>
        <br><label for='email'> Email: </label>
        <input type='text' name='email'>
      </div>
      <div>
        <br><label for='password'> URL: </label>
        <input type='text' name='password'>
      </div>
      <div>
        <br><input type='submit' id='submit'>
      </div>
    </form>
  </div>
</body>
</html>
