
  <div align="center">
    <br><br><h1>Welcome to Favourite Links</h1>
  </div>
  <div align="center">
    <div>
      Please SIGN UP. Alternatively <a href='/sign-in'>sign in</a>
    </div>
    <form action='/user' method='post'>
      <div>
        <br><label for='email'> Email: </label><br>
        <input name='email' type='text' value='<%= @user.email %>'>
      </div>
      <div>
        <br><label for='password'> Password: </label><br>
        <input type='password' name='password'>
      </div>
      <div>
        <br><label for='password_confirmation'> Password:</label><br>
        <input type='password' name='password_confirmation'>
      </div>
      <div>
        <br><button type='submit' value='submit'>SIGN UP</button>
      </div>
    </form>
  </div>
